window{
	margin: 8px;
}

*{
	background-color: green;
	color: white;
/*	margin-top: 12px;*/
}

GtkFrame{
	background-color: green;
}
GtkDrawingArea{
	margin-top: 12px;
	border-width: 100px;
}
GtkButton{
	background-color: green;
	color: white;
}

.drawing_area{
	
	background-color: green;
/*	height:100px;*/
}
